# NUMBERS
python can work with numbers

ARITHMETIC

In [2]:
#Addition
3+1

4

In [3]:
#Multiplication
3*2

6

In [7]:
#Modulus
6%2

0

In [6]:
#Exponential
3**3

27

In [8]:
#DIVISION
2/3

0.6666666666666666

In [9]:
#EXERCISE
#write a python expression that raises 1+2 to the power 3*4
(1+2)**(3*4), PEDMAS(parathesis)

531441

In [10]:
#MATH FUNCTIONS
import numpy as np

In [11]:
#Using the pi(math) without importing math here, to avoid un necesssary codes we'll just use the np
np.pi

3.141592653589793

In [12]:
#Log
np.log(100)

4.605170185988092

In [14]:
np.log(1)

0.0

In [13]:
#Exponential
np.exp(1)

2.718281828459045

In [ ]:
# exercise...log(e*x)=x
#-700<=x<=700

In [15]:
#A variable is a name to a value
x=5
x+1

6

In [16]:
x**2

25

In [17]:
#In math the parathesis and square brackets mean the same thing sometimes
np.exp(x)

148.4131591025766

#EXERCISE

calculation with variiables
If you deposit $2000 in a bank paying an annual interest of 3.4\% compunded quarterly, we can compute the balance after 7 years by defining these variables

In [ ]:
p=2000
r=0.034
n=4
t=7
v=p(1+r/n)**n*t

In [25]:
p=2100
r=0.034
n=4
t=7
v=2100*(1+0.034/4)**(4*7)
v

2661.6108980682593

In [26]:
v=2100*(1+0.034/2)**(2*7)
v

2658.965091277534

In [31]:
#expenential they want the growth part of it,  how many times will sth grow
#v=pe**rt
v=2100**(0.034*7)
v

6.175728457877729

In [ ]:
v=2100*np.exp(0.034*7)

Times and places(strings in terms of location)
Here we cover some additional data types like strings) represent
time;date and 
to represent and display geographical location

In Python Strings (sequence of letters, numbers and panctuation marks
ie "elements of data science" and u can assign strinmg values to variables, if my variable is first="data"
last="science"
If i concatenate 2 strings i should get data science, if i dont space it will

In [32]:
first="data"
last="science"
first + "" +last

'datascience'

In [33]:
#you can't concatente 2 data types
actual="123"
actual+1

TypeError: can only concatenate str (not "int") to str

In [34]:
#you can write the string 3 times by using the multiplication operator
actual*3

'123123123'

In [35]:
#int converts a string into an integer
int('123')

123

In [36]:
float("123")

123.0

In [37]:
str(123)

'123'

In [38]:
str(12.3)

'12.3'

In [ ]:
#Dates and times